node_modules
*.tsbuildinfo
/dist
/artifacts
/cache
/coverage
.github/
.c8rc
.codecov.yml
ARCHITECTURE.md
ava.config.js
CHANGELOG.md
LICENSE
package-lock.json
package.json
renovate.json
tsconfig.json
src/themes/
src/utils/